<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Libellé</th>
      <th scope="col">Référence</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of clients; let i = index">
      <td>{{ p.libelle }}</td>
      <td>{{ p.reference }}</td>
      <td>
        <button class="btn btn-sm btn-warning mr-2" (click)="update(p)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-sm btn-danger mr-2" (click)="delete(p.reference, i)"><i class="fa fa-trash"></i></button>
        <a class="btn btn-sm btn-primary" [routerLink]="'bat/' + p.reference + '/client'" routerLinkActive="active"><i
            class="fa fa-eye"></i></a>
      </td>
    </tr>
  </tbody>
</table>
