<div class="card mt-5">
  <div class="card-header">
    Creation Produit
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="exampleName">Nom</label>
      <input type="text" [(ngModel)]="product.name" class="form-control" id="exampleName" placeholder="Enter le nom" />
    </div>
    <div class="form-group">
      <label for="exampleQuantity">Quantite</label>
      <input type="text" [(ngModel)]="product.quantity" class="form-control" id="exampleQuantity" placeholder="Enter la quantite" />
    </div>
    <div class="form-group">
      <label for="examplePrice">Prix</label>
      <input type="text" [(ngModel)]="product.price" class="form-control" id="examplePrice" placeholder="Enter le prix" />
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-block btn-primary" (click)="save()">Save</button>
  </div>
</div>

